*{
    margin: 0;
    padding: 0;
}



.main{
    width: 70vw;
    margin: auto;
    display: grid;
    gap: 10px;
    min-width: 300px;
    max-width: 350px;

}
.main__heading,.main__heading2{
    text-align: center;
}


.sumar, .dividir, .multiplicar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;

}

.operacion{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    gap: 20px;
}

.interaccion{
    display: grid;
    gap: 5px;

}

.interaccion__btnSumar,.interaccion__btnDividir, .interaccion__btnMultip{
    color: red;
    margin: auto;
}

.interaccion__resultadoSumar,.interaccion__resultadoDividir, .interaccion__resultadoMultip{
    width: 100px;
}



/*Creando estilo para desktop*/

@media (min-width:600px) {
 .main{
    max-width: 60%;
 }

 .main{
     grid-template-areas: "main__heading main__heading main__heading"
     "main__heading2 main__heading2 main__heading2"
     "sumar dividir multiplicar"
     "sumar dividir multiplicar"
     "sumar dividir multiplicar"
     "footer footer footer";
 }

 .main__heading{
     grid-area: main__heading;
 }

 .main__heading2{
     grid-area: main__heading2;
     text-align: center;
 }

.interaccion__resultadoSumar,.interaccion__resultadoDividir,.interaccion__resultadoMultip{
    margin: auto;
}
 
 .operacion,.inputData{
     display: grid;
     
 }
 

 .sumar{
     grid-area: sumar;
 }

 .dividir{
     grid-area: dividir;
 }

 .multiplicar{
     grid-area: multiplicar;
 }

 .footer{
     grid-area: footer;
 }
}

