*{
    margin: 0;
    padding: 0;
}



.main{
    width: 95vw;
    margin: auto;
    border: 1px solid black;
    display: grid;
    gap: 10px;
    min-width: 300px;
    max-width: 350px;

}


.sumar, .dividir, .multiplicar{
    display: flex;
    width: 100%;
    margin: auto;

}

.operacion{
    display: flex;
    width: 100%;
    margin: auto;
    gap: 20px;
}

.interaccion{
    display: grid;
    gap: 5px;

}

.interaccion__btnSumar,.interaccion__btnDividir, .interaccion__btnMultip{
    color: red;
    border: 0;
    margin: auto;
}

.interaccion__resultadoSumar,.interaccion__resultadoDividir, .interaccion__resultadoMultip{
    width: 100px;
}

.main__heading{
    text-align: center;
}

/*Creando estilo para desktop*/

@media (min-width:600px) {
 .main{
    max-width: 60%;
 }
}
/* .main{
    background-color: aqua;
} */
